/* GENERAL */
 
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
  background-color: rgb(174, 172, 172);
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: rgb(255, 156, 232);
  color: white;
  padding: 15px;
  font-family: fantasy;

}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

h3 {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #ffff
}


nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
 
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #454545;
  background: #f590cc;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: #da46ff -2px -2px 0px 2px, rgb(255, 166, 215) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
  :hover{
      box-shadow: #da46ff -2px -2px 0px 2px, rgb(255, 166, 215) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
  }
  
}

.active-nav {
  background-color: rgb(124, 0, 169);
  color: #ffffff
}

/* MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  width: 75%;
  background-color: rgb(100, 98, 98);
}

form {
  display: flex;
  
}

section {
  display: flex;

}

.item,
.merchant {
  display: flex;
  background-color: rgb(247, 163, 218);
  margin: 10px;
  padding: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  width: 40%;
  flex-direction:row;
  justify-content:center;
  align-items: center;

}

#merchants-view {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: stretch;

}

div {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
}


.view-items-button {
  padding: 5px;
  margin-right: 10px;
  
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
  font-family:fantasy;
  font-weight:900;
  font-size: medium;
  
}

.display-options {
  display: flex;
  align-items: center;
}

 
  
  /* CSS */
  .display-options > button {
    appearance: none;
    background-color: #585858;
    border: 2px thick #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color:#f590cc;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 20%;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #da46ff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .view-merchant-items {

/* CSS */
  background-color: #131313;
  border: 1px solid transparent;
  border-radius: .75rem;

  color: #fe009d;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .7rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0% 1%;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}
  
  


.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
co