/* GENERAL */

* {
  font-family: sans-serif;
}


body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/* SIDEBAR */

aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: rgb(3 146 185);
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: #1e2b4f;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}


/* CSS */
nav > button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgb(229, 255, 0);
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
  cursor: pointer;
}

nav > button:hover,
nav > button:focus-visible{

  outline-color: var(black);
  outline-offset: .05em;
  background-color: #1e2b4f;;
  opacity: 0.5;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  width: 75%;

  background-image: url('myfolder/images/7305.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;;
}

img {
  pointer-events: none;
  position:fixed;
  width: 200%;
  height: 100%;
  z-index: -1;
}


form {
  display: flex;
}

#merchants-view{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

h3 {
  font-family:'Century Gothic', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 100;
  margin: 0 0 1rem 0;
}

.view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 100%
}


#add-new-item-button, #add-new-button {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff9f9;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background: rgb(3 146 185);
  cursor: pointer;
}

#add-new-item-button, #add-new-button span{
  position: relative;
  z-index: 2;
}

#add-new-item-button:after, #add-new-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #b7ff00;
  transition: all .35s;
  opacity: 0.5;
}

#add-new-item-button:hover, #add-new-button:hover{
  color: #000000;
}

#add-new-item-button:hover:after, #add-new-button:hover:after{
  width: 100%;
}


.item, #single-merchant-view .item,
.merchant {
  display: flex;
  flex-direction: column;
  background-color: rgb(3 146 185);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 40%;
  text-align: center;
}

.item:hover, .merchant:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}  


#single-merchant-view .item, #items-view .item {
  justify-content: center;
  height: 28%;
}


.merchant {
  justify-content: space-between;
  height: 12%;
}

#items-view, #merchants-view, #single-merchant-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  margin: 5%;
}

@media (max-width: 768px) {
  .item,
  .merchant {
    width: calc(45% - 1rem); /* Two items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .item,
  .merchant {
    width: 100%; /* Full width for small screens */
  }
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.edit-merchant.icon, .view-merchant-items, .delete-merchant.icon,
.delete-item.icon {
  cursor: pointer;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
  color: white;
}

.display-options {
  display: flex;
  align-items: center;
  margin: 2%;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination-controls button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.success {
  color: green;
}

.fail {
  color: red;
}


/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
